@CHARSET "UTF-8";
            body{
                min-width: 1230px;
                height: 100%;
                position: relative;
                margin: 0;
                padding: 0;
                background: #f2f2f2;
                font-size: 12px;
                font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
                
            }
            *{
            box-sizing: inherit;
            }
            a{
                text-decoration: none;
                cursor:pointer;
                color: #222
            }
             a:hover{
                text-decoration: none;
            }
            a:visited{
            	text-decoration:none;
                color: #222;
            }
            a:active{
				text-decoration:none;
			}
			a:link{
				text-decoration:none;
			}
            ul,li{
                list-style-type:none;
                margin:0;
                padding:0;
            }
            .navhead{
                border-bottom: 1px solid #e7e7e7;
                border-color: rgba(231,231,231,0.9);
                padding:30px 0 5px;
                height: 45px;
                background: #fff;
                display: block;
            }
            .nav-lf{
                float: left;
                display: inline-block;
            }
            .nav-rt{
                float: right;
                display: inline-block;
            }
            .nav-lf a, .nav-rt a{
                color: #777;
                margin: 15px 27px;
                font-size: 20px;
            }
            .top{
                width: 100%;
                height:80px;
                text-align: center;
            }
            .searchbar{
                padding: 20px 28px 0 360px;
                height: 80px;
                background: #f2f2f2;
            }
            .searchbox{
                width: 398px;
                height: 38px;
                padding-left: 36px;
                border: 1px solid #e0e0e0;
                border-right: 0;
                background: #fff;
                float: left;
            }
            .searchbox .icon{
                background-image: url("img/icon/search.png");
            }
            .searchbox input{
                width:98%;
                padding: 9px 0;
                border: 0;
                display: block;
                height: 20px;
            }
            .searchbar button{
                width:100px;
                height: 40px;
               font-size: 16px;
                float: left;
                background:#ff6600;
                border: 0;
                cursor: pointer;
                color: #fff;
            }
            .filter-block {
  width: 1100px;
  height: auto;
  padding-left: 27px;
  padding-right: 27px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e5e9ef;
  padding-top: 17px;
  position: relative;
  padding-bottom: 14px;
  background: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .filter-block .s-btn-slip {
    position: absolute;
    z-index: 999;
    right: 26px;
    top: 20px;
    border-left: 1px solid #e5e9ef;
    padding-left: 15px; }
  .filter-block .btn-wrap {
    position: absolute;
    top: 14px;
    left: 135px; }
  .filter-block .condition {
    padding-top: 14px;
    border-bottom: 1px solid #e5e9ef;
    margin-bottom: 14px;
    height: 0;
    border-width: 0;
    overflow: hidden;
    *zoom: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .filter-block .condition:before,
    .filter-block .condition:after {
      content: "";
      display: table; }
    .filter-block .condition:after {
      clear: both; }
    .filter-block .condition.stretch {
      height: 42px; }
    .filter-block .condition .prompt {
      line-height: 28px;
      font-weight: bold;
      margin-bottom: 14px;
      float: left; }
    .filter-block .condition .title-control {
      float: right;
      line-height: 28px; }
      .filter-block .condition .title-control .clear {
        margin-right: 138px;
        color: #6d757a; }
  .filter-block .filter-wrap {
    font-size: 16px;
    margin-bottom: 6px;
    padding-left: 110px;
    position: relative;
    overflow: hidden;
    *zoom: 1; }
    .filter-block .filter-wrap:before,
    .filter-block .filter-wrap:after {
      content: "";
      display: table; }
    .filter-block .filter-wrap:after {
      clear: both; }
    .filter-block .filter-wrap .filter-title, .filter-block .filter-wrap .filter-list {
      float: left; }
    .filter-block .filter-wrap .filter-title {
      color: #99a2aa;
      line-height: 30px;
      position: absolute;
      left: 0; }
    .filter-block .filter-wrap .filter-list {
      margin-right: 16px;
      color: #222; }
      .filter-block .filter-wrap .filter-list > a {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        -webkit-transition: color 0.3s ease, background 0.3s ease;
        transition: color 0.3s ease, background 0.3s ease;
        line-height: 30px;
        padding: 0 12px;
        color: #222; }
        .filter-block .filter-wrap .filter-list > a:hover {
          background: #edf2f9; }
      .filter-block .filter-wrap .filter-list.active > a {
        background: #ff6600;
        color: #fff; }
        .filter-block .filter-wrap .filter-list.active > a > span {
          color: #fff; }
      .filter-block .filter-wrap .filter-list span {
        color: #99a2aa;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-left: 6px; }
    .filter-block .filter-wrap.hide {
      height: 0; }
      
        #food-list{
        width:1100px;
        min-height: 300px;
        padding-left:27px;
        padding-right:27px;
        margin-left:auto;
        margin-right:auto;
        border:1px solid #e5e9ef;
        background:#fff;
        padding-top:30px;
        border-top:0;
        overflow:hidden;
    }
    #food-list .list-wrap{
        word-break:break-all;
    }
    #food-list .list-wrap .new-line{
        margin-right:0px;
    }
    #food-list .list-wrap .list{
    	padding: 5px;
        width:170px;
        float:left;
        margin-left:10px;
        margin-right:30px;
        margin-bottom:38px;
    }
    #food-list .list-wrap .list:hover{
    	background: #f2f2f2;
    }
    #food-list .list-wrap .list h3{
        margin-top:5px;
        height:40px;
        overflow:hidden;
        line-height:19px;
    }
    #food-list .list-wrap .list h3{
        font-size:14px;
        line-height:15px;
    }

    #food-list .list-wrap .list .img{
        height:115px;
        position:relative;
        width:170px;
        border:1px solid #e5e9ef;
        overflow:hidden;
        background:url(http://static.hdslb.com/bl2se/images/default_img_big.png) 50% 50% no-repeat #e5e9ef;
    }
    #food-list .list-wrap .list img{
        width:100%;
        min-height:100%;
        border:0;
        vertical-align:middle;
    }
     .paging-wrap{
        width:1100px;
        height:40px;
        padding-left:27px;
        padding-right:27px;
        margin-left:auto;
        margin-right:auto;
        border:1px solid #e5e9ef;
        border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;
        background:#fff;
        padding-top:30px;
        padding-bottom:35px;
        border-top:0;
    }
    .paging{
        text-align:center;
    }
    p,span{
        margin:0;
        padding:0;
    }
    .paging .paging-res{
        float:left;
        line-height:38px;
        color:#99a2aa;
        font-size:13px;
    }
    #paging-food{
        margin:0;
        padding:0;
        display:inline-block;
    }
    .btnpg{
        float:left;
        border-radius:4px;
        border:1px solid #e5e9ef;
        background:#fff;
        margin-right:10px;
        text-align:center;
        width:38px;
        height:38px;
        cursor:pointer;
        line-height:38px;
        color:#222;
    }
    .btnpg.disabled{
        background:#f2f2f2;
        cursor:text;
        color:#b8c0cc;
    }
    .btnpg.current{
        background:#ff6600;
        color:#fff;
        border-color:#fff;
    }
        .btnpg.prevPage, .btnpg.disabled, .btnpg.nextPage {
        font-size:14px;
        padding:0 16px;
        word-break:keep-all;
    }
    .btnpg.abb{
    	border-color:#fff;
    }
    
       .footer{
        width:100%;
        margin-top:40px;
        padding-top:20px;
        color:#99a2aa;
        height:200px;
        text-align:center;
        font-size:14px;
        border-top:1px solid #e5e9ef;
    }
    input, button{
		box-sizing:border-box;
    }
    