@CHARSET "UTF-8";
	body{
		background:#fff;
	}
    .navhead{
        background: #ff7648;
        color:#fff;
    }
    .nav-lf a, .nav-rt a{
        color:#fff;
    }
    .container-fluid{
        margin-top: 30px;
    }
    .title{
        width: 218px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        display:table-cell;
        background: #ff7648;
        font-size: 24px;
        color:#fff;
    }
    .left-menu{
        float: left;
        padding-bottom: 20px;
        background: #f7f7f7;
    }
    .left-menu li{
        width: 200px;
        float: left;
        height: auto;
        border-bottom: 1px solid #eaeaea;
        color:#404040;
    }
    .left-menu li span{
        width: 155px;
        margin:0 32px;
        height: 44px;
        line-height: 45px;
        font-size: 16px;
    }
    .left-menu li.cur{
        line-height: 45px;
        display: block;
        font-size: 16px;
        background: #fff;
        border-left: 3px solid #ff7648;
        border-right: 4px solid #fff;
    }
    .s-margin{
        margin-top: 10px; 
        margin-bottom: 20px;
        padding-bottom: 30px;
    }
    .s-margin input{
        float: left;
        border: 1px solid #bfbfbf;
        width:236px;
        height: 30px;
    }
    .s-btn{
        float: left;
        border: 1px solid #bfbfbf;
        width: 80px;
        height: 30px;
        line-height: 32px;
        text-align: center;
        background: #f5f5f5;
        cursor:pointer;
    }
    .btn-n{
        float: right;
        border: 1px solid #ff7648;
        width: 60px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background: #f5f5f5;
        cursor:pointer;
    }
    div,ul,li,span,dl,dd,body,dt,h1,h2,h3,h4,h5{
        padding: 0;
        margin: 0;
    }
    .order{
        width: 100%;
        margin-top: 20px;     
        overflow: hidden;
        float: left;
        border: 1px solid #dcdcdc;
        margin-top: 10px;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .order-title{
         width: 100%;
        height: 40px;
        background: #efefef;
        float: left;
        cursor:pointer;
    }
    .order-title p{
        float: left;
        margin-right: 15px;
        color: #404040;
        line-height: 40px;
        margin-left: 20px;
    }
    .order-detail-head{
    	width: 100%;
        float: left;
        height: 44px;
        line-height: 45px;
        border-bottom: 1px solid #dcdcdc;
    }
    .order-detail-head p{
                        float: left;
        line-height: 45px;
        font-size: 14px;
        font-weight: normal;
        width:230px;
        text-align: center;
    }
    .order-detail-head h2{
                        float: left;
        line-height: 45px;
        font-size: 14px;
        font-weight: normal;
        width:115px;
        text-align: center;
    }
    .order-detail-head h3{
                        float: left;
        line-height: 45px;
        font-size: 14px;
        font-weight: normal;
        width:115px;
        text-align: center;
        border-right: 1px solid #dcdcdc;
    }
    .order-detail-head h4{
                        float: left;
        line-height: 45px;
        font-size: 14px;
        text-align: center;
        font-weight: normal;
        width: 115px;
        border-right: 1px solid #dcdcdc;
    }
    .order-detail-head h5{
                        float: left;
        line-height: 45px;
        font-size: 14px;
        font-weight: normal;
        width:148px;
        text-align: center;
    }
    .order-detail{
        width:100%;
        float: left;
        height: 105px;
        border-bottom: 1px solid #dcdcdc;
    }
    .order-detail dl{
        float: left;
        width: 230px;
    }
    .order-detail dl dt{
        margin:10px 5px 0 10px;
        float:left;
    }
    img{
        float:left;
        vertical-align: middle;
    }
    .order-detail dl dd{
        float: left;
        line-height: 105px;
        font-size: 16px;
        font-weight: normal;
        word-wrap:break-word;
    }
    .order-detail h2{
                float: left;
                text-align: center;
        line-height: 105px;
        font-size: 14px;
        font-weight: normal;
        width: 115px;
    }
    .order-detail h3{
                float: left;
      
        text-align: center;
        line-height: 105px;
        font-size: 14px;
        font-weight: normal;
        border-right: 1px solid #dcdcdc;
        width: 115px;
    }
    .order-detail h4{
                float: left;
        text-align: center;
        line-height: 105px;
        font-size: 14px;
        font-weight: normal;
        width: 115px;
        border-right: 1px solid #dcdcdc;
    }
    .order-detail h5{
        float: left;
        line-height: 105px;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        width: 135px;
    }
     .paging-wrap{
        width:700px;
        padding-left:50px;
        border:none;
     }